body,
* {
    text-align: center;
}
h1 {
    font-weight: 300;
    font-size: 40px;
}
h3 {
    font-weight: bold;
}
p,
li,
textarea,
.actions {
    width: 100%;
}
textarea {
    border-color: black;
    display: block;
    min-height: 250px;
    margin: 1em 0;
}
ul.pre li {
    white-space: pre;
}
.checkbox {
    display: inline-block;
}
.actions a {
    float: right;
}
.actions {
    clear: both;
}
